doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0")
    link(rel="stylesheet" href="../css/styles.css")
    title Grand Palace - современное жилье в городе Хмельницкий
    meta(name="description" content="Современный элитный жилой комплекс в центре Хмельницкого. Grand Palace – гарантия твоего удобного проживания с необходимыми удобствами для жизни.")
    meta(name="keywords" content="Жилой комплекс Grand Palace, ТРЦ гранд дворец продажа недвижимости, коммерческие и жилые помещения в Гранд Дворец")
    meta(name="author" content="Grand Palace")
    meta(name="publisher" content="Grand Palace")
    meta(name="robots" content="index follow")  
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&family=Roboto:wght@400;500&display=swap' rel='stylesheet')
    link(rel='icon' href='img/favicon.ico')
    link(rel='alternate' href='https://www.grandpalace.km.ua/ru/')
    meta(property="og:title" content="Grand Palace – современное жилье в городе Хмельницкий")
    meta(property="og:description" content="Современный элитный жилой комплекс в центре Хмельницкого. Grand Palace – гарантия твоего удобного проживания с необходимыми удобствами для жизни.")
    meta(property="og:image" content="../img/logo.jpg")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.grandpalace.km.ua/ru/")

  body(tabindex="0")
    .body-wrapper
      include ../components/vars
      include components/mixins
      include components/header
      main.main
        include components/hero
        include components/real-estate
        include components/general-plan
        include components/overview
        include components/panorama
        include components/construction-progress
        include components/comment-main
        include components/documentation
      include components/footer
    script(src="../js/scripts.js" defer)
