section.comment-section
  span.ancor#comment
  .container
    h2.comment__title.title.title--one-word
      span.head-line отзывы
    .parent-block-carousel
        .comment-block.carousel
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Ирина, владелица квартиры
                            .star-comment 
                                span.star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2020
                .text-comment
                    p.text-comment-block Приобрела квартиру в «Гранд Паласе» и полностью довольна. Высокие потолки, панорамные окна и прекрасный вид на город каждый день доставляют мне радость. Это действительно элитное жилье для тех, кто ценит комфорт и качество.
                    a.btn-more(href="#")  ...больше
                    a.btn-more-cancel(href="#") ...скрыть
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Андрей, будущий владелец офиса
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2020
                .text-comment
                    p.text-comment-block Выбрал 'Гранд Палас' для своего будущего офиса благодаря его стратегическому расположению и современному дизайну. Уверен, что это будет лучшее место для роста моего бизнеса и встреч с клиентами.
                    a.btn-more(href="#")  ...больше
                    a.btn-more-cancel(href="#") ...скрыть
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Людмила, инвесторка
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Купила квартиру в 'Гранд Палас' как инвестицию и поражена потенциалом этого проекта. Уверена, что стоимость недвижимости здесь будет только расти, а мои инвестиции умножатся.
                    a.btn-more(href="#")  ...больше
                    a.btn-more-cancel(href="#") ...скрыть
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Виктор, будущий житель
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Выбирая квартиру, я обращал внимание не только на качество строительства, но и на вокруг инфраструктуру. 'Гранд Палас' предлагает идеальное сочетание обоих. С нетерпением жду момента, когда смогу наслаждаться жизнью в этом замечательном комплексе.
                    a.btn-more(href="#")  ...больше
                    a.btn-more-cancel(href="#") ...скрыть
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Павла, инвестора коммерческих помещений
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Инвестируя в коммерческую недвижимость 'Гранд Палас' на раннем этапе, я рассчитываю на высокую отдачу. Локация, концепция и спрос на элитную недвижимость в Хмельницком позволяют ожидать значительной
                    a.btn-more(href="#")  ...больше
                    a.btn-more-cancel(href="#") ...скрыть
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Елена, будущая владелица квартиры
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Покупая квартиру в «Гранд Паласе» еще на этапе строительства, я была уверена в правильности своего выбора. Высокое качество материалов, расположение в центре города и обещание уникального вида из окна – все это сделало мой выбор очевидным.
                    a.btn-more(href="#")  ...больше
                    a.btn-more-cancel(href="#") ...скрыть
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Дмитрий, инвестор
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Инвестирование в коммерческую недвижимость 'Гранд Палас' стало одним из самых лучших решений в моей карьере. Высокая окупаемость, стабильный доход и растущий спрос на помещение в этом районе гарантируют успех моего бизнеса.
                    a.btn-more(href="#")  ...больше
                    a.btn-more-cancel(href="#") ...скрыть
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Александр, будущий владелец кофейни
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Инвестировал в помещение для будущего кофейни в 'Гранд Палас' и полон оптимизма. Прекрасное месторасположение и ожидание ценителей кофе обещают большой поток посетителей. Верю, что уникальная атмосфера и качество обслуживания сделают мое кафе любимым местом для встреч в городе.
                    a.btn-more(href="#")  ...больше
                    a.btn-more-cancel(href="#") ...скрыть
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Максим, инвестор
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Приобрел коммерческое помещение в Гранд Палас с целью сдачи в аренду и теперь получаю стабильный доход. Локация и престижность комплекса обеспечивают высокий спрос у арендаторов. Это инвестиция, которая оправдала все мои ожидания и продолжает приносить прибыль.
                    a.btn-more(href="#")  ...больше
                    a.btn-more-cancel(href="#") ...скрыть
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Оксана, инвесторка
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Приобрела квартиру для инвестиции в первой очереди строительства «Гранд Палас- осталась очень довольна. Решение было верным. Без проблем сдается в аренду и обеспечивает мне стабильный доход. Моим арендаторам нравится, что дом находится в центре города, хорошая планировка и великолепные панорамные виды на город из всех окон. Квартира очень теплая. На сегодняшний день приобрела две квартиры во второй очереди. 'Гранд Палас' стал для меня успешной инвестицией. Я уверена, что в первую очередь будут расти в цене квартиры в центре.
                    a.btn-more(href="#")  ...больше
                    a.btn-more-cancel(href="#") ...скрыть
    .button-block 
        a.left.btn.btn-comment(href="#")
            svg(viewBox="0 0 57 26")
                path(d="M56.6,14L45,25.6c-0.5,0.5-1.4,0.5-1.9,0c-0.3-0.3-0.4-0.6-0.4-1c0-0.3,0.1-0.7,0.4-1l8.9-8.9H0V11h51.8 l-8.7-8.7c-0.5-0.5-0.5-1.4,0-1.9c0.3-0.3,0.6-0.4,1-0.4c0.4,0,0.7,0.1,1,0.4L56.7,12l0,0C57.1,12.6,57.1,13.5,56.6,14z")
        a.right.btn.btn-comment(href="#")
            svg(viewBox="0 0 57 26")
                path(d="M56.6,14L45,25.6c-0.5,0.5-1.4,0.5-1.9,0c-0.3-0.3-0.4-0.6-0.4-1c0-0.3,0.1-0.7,0.4-1l8.9-8.9H0V11h51.8 l-8.7-8.7c-0.5-0.5-0.5-1.4,0-1.9c0.3-0.3,0.6-0.4,1-0.4c0.4,0,0.7,0.1,1,0.4L56.7,12l0,0C57.1,12.6,57.1,13.5,56.6,14z")
        
        
