section.real-estate.commercial-overview
  .container
    article.real-estate__residential
      .row
        .image-wrapper
          .residential-overview__img
            img(src="../img/commercial-overview.jpg" alt="")
        .short-description.col
          h2.short-description__title.title
            span.head-line Начни свой бизнес вместе с grand&nbsp;palace
          p.short-description__text Хотите купить офис или торговое помещение под бизнес в новостройке? В таком случае точно стоит обратить внимание на Grand Palace.
          p.short-description__text Портфель коммерческой недвижимости компании состоит из различных нежилых помещений различного функционального назначения на цокольных этажах новостроек, а также торговых и офисных площадей в торговых и бизнес-центрах в составе жилого комплекса.
          p.short-description__text Будь то стрит-ритейл, кафе, рестораны, фитнес-центр, или любой бизнес сферы услуг и сервисов, мы поможем подобрать идеальное помещение под бизнес с учетом ваших целей и задач.
section.comercial-galery.container
  .galery-block
    .picture-galery 
      picture 
        sourse(srcset="../img/galery1.jpg" type="image/jpg")
        img(src="../img/galery1.webp", alt="Зручна парковка біля комерційних приміщень")
    .text-block-galery
      .number 01
      p.text-galery Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
  .galery-block
    .picture-galery 
        picture 
          sourse(srcset="../img/galery2.jpg" type="image/jpg")
          img(src="../img/galery2.webp", alt="Особистий паркінг для мешканців ЖК Гранд Палац")
    .text-block-galery
      .number 02
      p.text-galery Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
  .galery-block
    .picture-galery 
        picture 
          sourse(srcset="../img/galery3.jpg" type="image/jpg")
          img(src="../img/galery3.webp", alt="Чудові краєвиди на місто")
    .text-block-galery
      .number 03
      p.text-galery Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
  .galery-block
    .picture-galery 
        picture 
          sourse(srcset="../img/galery4.jpg" type="image/jpg")
          img(src="../img/galery4.webp", alt="Панорамні вікна з красивими краєвидами міста")
    .text-block-galery
      .number 04
      p.text-galery Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 