footer.footer(itemprop='publisher', itemscope, itemtype='http://schema.org/WPFooter')
  .container
    .footer-info.info-items
      .footer-media.info-item(itemprop='publisher', itemscope, itemtype='http://schema.org/Organization')
        p.footer__email(itemprop='email')
          a.email-link(href='mailto:office@grandpalace.km.ua')
            +svg('email', 31, 23)
            |office@grandpalace.km.ua
        p.footer__social.social-list
          a.social-link(href='https://www.facebook.com/GrandPalace.km')
            +svg('fb', 31, 31)
          a.social-link(href='https://www.instagram.com/grand_palace_km/')
            object(class='icon' type='image/svg+xml' data='../img/instagram.svg' width='31' height='31')
      .footer-address.info-item( itemscope itemtype='http://schema.org/PostalAddress')
        .footer-address__wrap
          +svg('pin-footer', 30, 40)
          p Отделение продаж
          p г. Хмельницкий, ул. Подольская, 115
      .footer__phone.phone-list.info-item(itemscope itemtype='http://schema.org/ContactPoint')
        a.phone-link(href='tel:+380980555500' itemprop='telephone')
          +svg('phone', 19, 29)
          |(098)&nbsp;055 55 00
        //- a.phone-link(href='tel:+380980555500' itemprop='telephone')
        //-   +svg('phone', 19, 29)
        //-   |(098)&nbsp;055 55 00
        span.social-icons.flex-icons
          a.wsup(href="#")
            +svg('wsup', 29, 29) 
          a.telegram(href="#")
            +svg('telegram', 34, 29) 
          a.viber(href="#")
            +svg('viber', 27, 29)
    .copyright
      p &copy; Copyright by &laquo;Grand Palace&raquo; 2012—2021
