header.header(itemscope itemtype="http://schema.org/WPHeader")
  .container
    .header-info__items(itemscope itemtype="http://schema.org/Organization")
      .header-info__item.menu__icon(itemscope itemtype="http://schema.org/SiteNavigationElement")
        .icon__menu
          span
      .header-info__item.header__phone.phone-list(itemscope itemtype="http://schema.org/SiteNavigationElement")
        .flex-icons
          a.phone-link(href='tel:+380980555500', itemprop='url', content="+380980555500")
            +svg('phone') 
            strong (098)&nbsp;05-55-500
          span.social-icons.flex-icons
            //- a.wsup(href="#")
            //-   +svg('wsup', 29, 29) 
            //- a.telegram(href="#")
            //-   +svg('telegram', 34, 29) 
            a.viber(href="viber://chat?number=%2B380980555500")
              +svg('viber', 27, 29)  
      .header-info__item.header__logo(itemscope itemtype="http://schema.org/Organization")
        a.menu__logo(href='./', itemprop='url')
          img(src='../img/logo-grand-palace.svg' alt='Grand Palace - житловий комплекс', itemprop='logo', title="Grand Palace - житловий комплекс")
      .header-info__item.header__social.social-list(itemscope itemtype="http://schema.org/SiteNavigationElement")
        a.social-link(href='https://www.facebook.com/GrandPalace.km' target="_blank", itemprop='sameAs')
          +svg('fb', 31, 31)
        a.social-link(href='https://www.instagram.com/grand_palace_km/')
            object(class='icon' type='image/svg+xml' data='../img/instagram.svg' width='31' height='31')
      .header-info__item.header__lng-toggle(itemscope itemtype="http://schema.org/SiteNavigationElement")
        a.active(href='#' data-lang="uk", itemprop='url') Укр
        a(href='#' data-lang="ru", itemprop='url') Рус
    nav.header__menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
      ul.menu__list
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href='residential.html', itemprop='url') 
            span(itemprop='name') Жилая недвижимость
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href='commercial.html', itemprop='url') 
            span(itemprop='name') Коммерческая недвижимость
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href= location + "#generalplan", itemprop='url') 
            span(itemprop='name') Общий план
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href= location + "#overview", itemprop='url') 
            span(itemprop='name') Преимущества
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href="galery.html") 
            span(itemprop='name') Галерея
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href= location + "#progress", itemprop='url') 
            span(itemprop='name') Ход строительства
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href= location + "#documentation", itemprop='url') 
            span(itemprop='name') Документация
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href='contacts.html', itemprop='url') 
            span(itemprop='name') Контакты
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href='news.html', itemprop='url') 
            span(itemprop='name') Новости
