section.real-estate
  .container
    article.description-main_palace 
      h2.short-description__title.title
        span.head-line Про
        |  комплекс
      p Откройте для себя «Гранд Палас» – эксклюзивный жилой комплекс в центре Хмельницкого, где каждая деталь тщательно продумана для вашего максимального удобства и комфорта.
      p Живите в центре событий, наслаждаясь легким доступом к лучшим магазинам, ресторанам и культурным заведениям города.
      p Жизнь в «Гранд Палас» – это воплощение мечты об идеальном пространстве для жизни: современные просторные квартиры с захватывающими панорамными видами, утеплении минеральной ватой и индивидуальными безопасными тепловыми пунктами.
      p Интегрированный современный торговый центр, продуктовый супермаркет, фитнес-центр, подземный паркинг соединен с квартирами прямым доступом через лифты, а также уютные зоны отдыха, детская площадка, ресторан и кафе, и все это находится непосредственно на территории комплекса.
    article.real-estate__residential
      .row
        .short-description.col
          h2.short-description__title.title
            span.head-line Жилая
            |  недвижимость
          p.short-description__text «Современный Комфортный Жилищно-Торговый Комплекс Grand Palace. Это место, где вы можете жить, работать и отдыхать, заниматься спортом и ходить на шопинг, не покидая собственного комплекса. Эргономичные квартиры с разнообразными планировками – от уютных студий до просторных пентхаусов – удовлетворят любые ваши потребности. А панорамные виды окон квартир откроют вам живописные пейзажи города. Подземный паркинг, видеонаблюдение и быстрые лифты позаботятся о вашей безопасности и комфорте. Центральное расположение комплекса делает все необходимое доступным в пешей доступности.
          a.short-description__btn.btn(href='residential.html') Подробнее
        .images-slider__items.col
          span.images-slider__item.slider-item-1.active
          span.images-slider__item.slider-item-2
          span.images-slider__item.slider-item-3
          span.images-slider__item.slider-item-4
          span.images-slider__item.slider-item-5
    article.real-estate__commercial
      .row
        .short-description.col
          h2.short-description__title.title
            span.head-line Коммерческая
            |  недвижимость
          p.short-description__text «Откройте для себя уникальную возможность разместить ваш бизнес и инвестиции в центре Хмельницкого в эксклюзивном торговом центре «Гранд Палас»! Наше предложение не имеет аналогов в городе и выходит за рамки обычных предложений торговых помещений, предлагая место в профессиональном торговом центре, где рядом будет продуктовый супермаркет, кафе, ресторан, зоны отдыха и развлечений для детей и взрослых. Это идеальный шанс для предпринимателей, которые обеспечат вашему бизнесу, отличное расположение, престиж и высокий трафик клиентов, а вашим инвестициям долгосрочные доходы. Не упустите свой шанс занять свое место в центре коммерческой жизни города!”
          a.short-description__btn.btn(href='commercial.html') Подробнее
        .images-slider__items.col
          span.images-slider__item.slider-item-1
          span.images-slider__item.slider-item-2
          span.images-slider__item.slider-item-3
          span.images-slider__item.slider-item-4
          span.images-slider__item.slider-item-5.active
