section.comment-section
  span.ancor#comment
  .container
    h2.comment__title.title.title--one-word
      span.head-line відгуки
    .parent-block-carousel
        .comment-block.carousel
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Ірина, власниця квартири
                            .star-comment 
                                span.star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2020
                .text-comment
                    p.text-comment-block Придбала квартиру в ‘Гранд Палас’ і повністю задоволена. Високі стелі, панорамні вікна та чудовий вид на місто кожного дня дарують мені радість. Це дійсно елітне житло для тих, хто цінує комфорт та якість.
                    a.btn-more(href="#")  ...більше 
                    a.btn-more-cancel(href="#")  ...сховати
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Андрій, майбутній власник офісу
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2020
                .text-comment
                    p.text-comment-block Обрав ‘Гранд Палас’ для свого майбутнього офісу завдяки його стратегічному розташуванню та сучасному дизайну. Впевнений, що це буде краще місце для зростання мого бізнесу та зустрічей з клієнтами.
                    a.btn-more(href="#")  ...більше 
                    a.btn-more-cancel(href="#")  ...сховати
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Людмила, інвесторка
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Купила квартиру в ‘Гранд Палас’ як інвестицію та вражена потенціалом цього проекту. Впевнена, що вартість нерухомості тут тільки зростатиме, а мої інвестиції примножаться
                    a.btn-more(href="#")  ...більше 
                    a.btn-more-cancel(href="#")  ...сховати
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Віктор, майбутній мешканець
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Вибираючи квартиру, я звертав увагу не тільки на якість будівництва, а й на інфраструктуру навколо. ‘Гранд Палас’ пропонує ідеальне поєднання обох. З нетерпінням чекаю на момент, коли зможу насолоджуватися життям у цьому чудовому комплексі.
                    a.btn-more(href="#")  ...більше 
                    a.btn-more-cancel(href="#")  ...сховати
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Павла, інвестора комерційних приміщень
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Інвестуючи в комерційну нерухомість ‘Гранд Палас’ на ранньому етапі, я розраховую на високу віддачу. Локація, концепція та попит на елітну нерухомість у Хмельницькому дозволяють очікувати значного прибутку.
                    a.btn-more(href="#")  ...більше 
                    a.btn-more-cancel(href="#")  ...сховати
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Олена, майбутнья власниця квартири:
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Купуючи квартиру в ‘Гранд Палас’ ще на етапі будівництва, я була впевнена в правильності свого вибору. Висока якість матеріалів, розташування в центрі міста та обіцянка унікального виду з вікна - усе це зробило мій вибір очевидним.
                    a.btn-more(href="#")  ...більше 
                    a.btn-more-cancel(href="#")  ...сховати
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Дмитро, інвестор
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Інвестування в комерційну нерухомість ‘Гранд Палас’ стало одним з найкращих рішень у моїй кар’єрі. Висока окупність, стабільний дохід та зростаючий попит на приміщення в цьому районі гарантують успіх мого бізнесу.
                    a.btn-more(href="#")  ...більше 
                    a.btn-more-cancel(href="#")  ...сховати
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Олександр, майбутній власник кав’ярні
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Інвестував у приміщення для майбутньої кав’ярні в ‘Гранд Палас’ і повний оптимізму. Чудове місцерозташування та очікування цінителів кави обіцяють великий потік відвідувачів. Вірю, що унікальна атмосфера та якість обслуговування зроблять мою кав’ярню улюбленим місцем для зустрічей у місті.
                    a.btn-more(href="#")  ...більше 
                    a.btn-more-cancel(href="#")  ...сховати
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Максим, інвестор
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Придбав комерційне приміщення в ‘Гранд Палас’ з метою здачі в оренду і тепер отримую стабільний дохід. Локація та престижність комплексу забезпечують високий попит серед орендарів. Це інвестиція, яка виправдала всі мої очікування і продовжує приносити прибуток.
                    a.btn-more(href="#")  ...більше 
                    a.btn-more-cancel(href="#")  ...сховати
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 Оксана, інвесторка
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        //- p.date-comment 12.02.2024
                .text-comment
                    p.text-comment-block Придбала квартиру для інвестиції в першій черзі будівництва ‘Гранд Палас-залишилась дуже задоволена. Рішення було вірне. Без проблем здається в оренду і забезпечує мені стабільний дохід. Моїм орендарям подобається, що будинок знаходиться в центрі міста, гарне планування та чудові панорамні краєвиди на місто зі всіх вікон. Квартира дуже тепла.На сьогодні придбала  дві квартири у другій черзі. ‘Гранд Палас’ став для мене успішною інвестицією. Я впевнена, що в першу чергу будуть зростати в ціні на квартири в центрі.
                    a.btn-more(href="#")  ...більше 
                    a.btn-more-cancel(href="#")  ...сховати
    .button-block 
        a.left.btn.btn-comment(href="#")
            svg(viewBox="0 0 57 26")
                path(d="M56.6,14L45,25.6c-0.5,0.5-1.4,0.5-1.9,0c-0.3-0.3-0.4-0.6-0.4-1c0-0.3,0.1-0.7,0.4-1l8.9-8.9H0V11h51.8 l-8.7-8.7c-0.5-0.5-0.5-1.4,0-1.9c0.3-0.3,0.6-0.4,1-0.4c0.4,0,0.7,0.1,1,0.4L56.7,12l0,0C57.1,12.6,57.1,13.5,56.6,14z")
        a.right.btn.btn-comment(href="#")
            svg(viewBox="0 0 57 26")
                path(d="M56.6,14L45,25.6c-0.5,0.5-1.4,0.5-1.9,0c-0.3-0.3-0.4-0.6-0.4-1c0-0.3,0.1-0.7,0.4-1l8.9-8.9H0V11h51.8 l-8.7-8.7c-0.5-0.5-0.5-1.4,0-1.9c0.3-0.3,0.6-0.4,1-0.4c0.4,0,0.7,0.1,1,0.4L56.7,12l0,0C57.1,12.6,57.1,13.5,56.6,14z")
        
        

