section.comment-section
  span.ancor#comment
  .container
    h2.comment__title.title.title--one-word
      span.head-line відгуки
    .parent-block-carousel
        .comment-block.carousel
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 марія Шевченко
                            .star-comment 
                                span.star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><style>.a{fill:none;stroke:#eac83e;stroke-miterlimit:100}</style><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        p.date-comment 12.02.2020
                .text-comment
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisi commodo viverra maecenas accumsan lacus vel facilisis lacussultrices maecenas accumsan lacus vel facilisi commodo viverra . Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risu commodo viverra lacus vel facilisi commodo facilisi commodo viverra  maecenas accumsan lacus vel facilisis lacus vel facilisisultrices
                    a.btn-more(href="#")  ...більше 
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 марія Шевченко
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        p.date-comment 12.02.2020
                .text-comment
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisi commodo viverra maecenas accumsan lacus vel facilisis lacussultrices maecenas accumsan lacus vel facilisi commodo viverra . Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risu commodo viverra lacus vel facilisi commodo facilisi commodo viverra  maecenas accumsan lacus vel facilisis lacus vel facilisisultrices
                    a.btn-more(href="#")  ...більше 
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 марія Шевченко
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        p.date-comment 12.02.2024
                .text-comment
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisi commodo viverra maecenas accumsan lacus vel facilisis lacussultrices maecenas accumsan lacus vel facilisi commodo viverra . Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risu commodo viverra lacus vel facilisi commodo facilisi commodo viverra  maecenas accumsan lacus vel facilisis lacus vel facilisisultrices
                    a.btn-more(href="#")  ...більше 
            .comment.carousel-item
                .header-comment
                    .img-block_comment
                        .img-circle
                            picture 
                                img(src="img/comment-photo.png", alt="")
                        .name-block 
                            h3 марія Шевченко
                            .star-comment 
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star.fill-star
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                                span.star 
                                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15"><path class="a" d="m7.5 0l1.9 5.6 5.6 0.1-4.5 3.6 1.6 5.7-4.6-3.4-4.6 3.4 1.6-5.7-4.5-3.6 5.6-0.1z"/></svg>
                    .date-block_comment
                        p.date-comment 12.02.2024
                .text-comment
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisi commodo viverra maecenas accumsan lacus vel facilisis lacussultrices maecenas accumsan lacus vel facilisi commodo viverra . Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risu commodo viverra lacus vel facilisi commodo facilisi commodo viverra  maecenas accumsan lacus vel facilisis lacus vel facilisisultrices
                    a.btn-more(href="#")  ...більше 
    .button-block 
        a.left.btn.btn-comment(href="#")
            svg(viewBox="0 0 57 26")
                path(d="M56.6,14L45,25.6c-0.5,0.5-1.4,0.5-1.9,0c-0.3-0.3-0.4-0.6-0.4-1c0-0.3,0.1-0.7,0.4-1l8.9-8.9H0V11h51.8 l-8.7-8.7c-0.5-0.5-0.5-1.4,0-1.9c0.3-0.3,0.6-0.4,1-0.4c0.4,0,0.7,0.1,1,0.4L56.7,12l0,0C57.1,12.6,57.1,13.5,56.6,14z")
        a.right.btn.btn-comment(href="#")
            svg(viewBox="0 0 57 26")
                path(d="M56.6,14L45,25.6c-0.5,0.5-1.4,0.5-1.9,0c-0.3-0.3-0.4-0.6-0.4-1c0-0.3,0.1-0.7,0.4-1l8.9-8.9H0V11h51.8 l-8.7-8.7c-0.5-0.5-0.5-1.4,0-1.9c0.3-0.3,0.6-0.4,1-0.4c0.4,0,0.7,0.1,1,0.4L56.7,12l0,0C57.1,12.6,57.1,13.5,56.6,14z")
        
        

