header.header(itemscope itemtype="http://schema.org/WPHeader")
  .container
    .header-info__items(itemscope itemtype="http://schema.org/Organization")
      .header-info__item.menu__icon(itemscope itemtype="http://schema.org/SiteNavigationElement")
        .icon__menu
          span
      .header-info__item.header__phone.phone-list(itemscope itemtype="http://schema.org/SiteNavigationElement")
        a.phone-link(href='tel:+380980555500', itemprop='url', content="+380980555500")
          +svg('phone') 
          |(098)&nbsp;05-55-500
      .header-info__item.header__logo(itemscope itemtype="http://schema.org/Organization")
        a.menu__logo(href='./', itemprop='url')
          img(src='img/logo-grand-palace.svg' alt='Grand Palace - житловий комплекс', itemprop='logo', title="Grand Palace - житловий комплекс")
      .header-info__item.header__social.social-list(itemscope itemtype="http://schema.org/SiteNavigationElement")
        a.social-link(href='https://www.facebook.com/GrandPalace.km' target="_blank", itemprop='sameAs')
          +svg('fb', 31, 31)
        a.social-link(href='https://www.instagram.com/grand_palace_km/' target="_blank", itemprop='sameAs')
          object(class='icon' type='image/svg+xml' data='img/instagram.svg' width='31' height='31')
      .header-info__item.header__lng-toggle(itemscope itemtype="http://schema.org/SiteNavigationElement")
        a.active(href='#' data-lang="uk", itemprop='url') Укр
        a(href='#' data-lang="ru", itemprop='url') Рус
    nav.header__menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
      ul.menu__list
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href='residential.html', itemprop='url') Житлова нерухомість
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href='commercial.html', itemprop='url') Комерційна нерухомість
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href= location + "#generalplan", itemprop='url') Загальний план
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href= location + "#overview", itemprop='url') Переваги
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href= location + "#progress", itemprop='url') Хід будівництва
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href= location + "#documentation", itemprop='url') Документація
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href='contacts.html', itemprop='url') Контакти
        li(itemscope itemtype="http://schema.org/SiteNavigationElement")
          a.menu__link(href='news.html', itemprop='url') Новини
