section.panorama
  .panorama-slider
    .panorama-slider__header
      h2.panorama-slider__title Панорама міста
      .panorama-slider__switcher
        span.active
          +svg('halfmoon')
        span
          +svg('sun')
    .panorama-slider__items
      .panorama-slider__item.fade.active
        img.night(src="img/panoramanight.jpg" alt="Grand Palace - панорама на місто Хмельницький вночі" title="Чудові краєвиди на місто від Grand Palace в ночі")
      .panorama-slider__item.fade
        img.day(src="img/panoramaday.jpg" alt="Grand Palace - панорама на місто Хмельницький вдень" title="Красивий панорамний вигляд вдень")
