section.real-estate
  .container
    article.description-main_palace 
      h2.short-description__title.title
            span.head-line Про
            |  комплекс
      p Відкрийте для себе «Гранд Палас» — ексклюзивний житловий комплекс у центрі Хмельницького, де кожна деталь ретельно продумана для вашої максимальної зручності та комфорту. 
      p Живіть у центрі подій, насолоджуючись легким доступом до кращих магазинів, ресторанів та культурних закладів міста. 
      p Життя у «Гранд Палас» — це втілення мрії про ідеальний простір для життя: сучасні просторі квартири з захоплюючими панорамними краєвидами, утепленні мінеральною ватою та з індивідуальними безпечними тепловими пунктами. 
      p Інтегрований сучасний торгівельний центр, продуктовий супермаркет, фітнес-центр, підземний паркінг з’єднаний з квартирами прямим доступом через ліфти, а також затишні зони відпочинку, дитячий майданчик, ресторан та кафе і все це знаходиться безпосередньо на території комплексу.
    article.real-estate__residential
      .row
        .short-description.col
          h2.short-description__title.title
            span.head-line Житлова
            |  нерухомість
          p.short-description__text Індивідуальне опалення, вільне планування, велика площа освітлення кімнат, швидкісні ліфти "Otis", цілодобова охорона та консьєрж послуги, можливість безпосередньо ліфтами потрапляти в підземний паркінг та в паркову зону на 4 поверсі, користування фітнес центром.
          a.short-description__btn.btn(href='residential.html') Детальніше
        .images-slider__items.col
          span.images-slider__item.slider-item-1.active
          span.images-slider__item.slider-item-2
          span.images-slider__item.slider-item-3
          span.images-slider__item.slider-item-4
          span.images-slider__item.slider-item-5
    article.real-estate__commercial
      .row
        .short-description.col
          h2.short-description__title.title
            span.head-line Комерційна
            |  нерухомість
          p.short-description__text Великий вибір приміщень під комерційний бізнес. Вигідне розташування у самому центрі міста. Адаптація площі під будь-який бізнес. Незважаючи на те, чи то стріт-рітейл, кафе, ресторани, фітнес-центр, чи будь-який бізнес сфери послуг і сервісів, ми допоможемо підібрати ідеальне приміщення під бізнес з урахуванням ваших цілей і завдань.
          a.short-description__btn.btn(href='commercial.html') Детальніше
        .images-slider__items.col
          span.images-slider__item.slider-item-1
          span.images-slider__item.slider-item-2
          span.images-slider__item.slider-item-3
          span.images-slider__item.slider-item-4
          span.images-slider__item.slider-item-5.active
