section.real-estate
  .container
    article.description-main_palace 
      h2.short-description__title.title
            span.head-line Про
            |  комплекс
      p Відкрийте для себе «Гранд Палас» — ексклюзивний житловий комплекс у центрі Хмельницького, де кожна деталь ретельно продумана для вашої максимальної зручності та комфорту. 
      p Живіть у центрі подій, насолоджуючись легким доступом до кращих магазинів, ресторанів та культурних закладів міста. 
      p Життя у «Гранд Палас» — це втілення мрії про ідеальний простір для життя: сучасні просторі квартири з захоплюючими панорамними краєвидами, утепленні мінеральною ватою та з індивідуальними безпечними тепловими пунктами. 
      p Інтегрований сучасний торгівельний центр, продуктовий супермаркет, фітнес-центр, підземний паркінг з’єднаний з квартирами прямим доступом через ліфти, а також затишні зони відпочинку, дитячий майданчик, ресторан та кафе і все це знаходиться безпосередньо на території комплексу.
    article.real-estate__residential
      .row
        .short-description.col
          h2.short-description__title.title
            span.head-line Житлова
            |  нерухомість
          p.short-description__text «Сучасний Комфортний Житлово-Торговий Комплекс “Grand Palace”. Це місце, де ви зможете жити, працювати та відпочивати, займатися спортом та ходити на шопінг, не покидаючи власного комплексу. Ергономічні квартири з різноманітними плануваннями – від затишних студій до просторих пентхаусів – задовольнять будь-які ваші потреби. А панорамні краєвиди з вікон квартир відкриють вам мальовничі пейзажі міста. Підземний паркінг, відеоспостереження та швидкі ліфти подбають про вашу безпеку та комфорт. Центральне розташування комплексу робить все необхідне доступним у пішій доступності.»
          a.short-description__btn.btn(href='residential.html') Детальніше
        .images-slider__items.col
          span.images-slider__item.slider-item-1.active
          span.images-slider__item.slider-item-2
          span.images-slider__item.slider-item-3
          span.images-slider__item.slider-item-4
          span.images-slider__item.slider-item-5
    article.real-estate__commercial
      .row
        .short-description.col
          h2.short-description__title.title
            span.head-line Комерційна
            |  нерухомість
          p.short-description__text «Відкрийте для себе унікальну можливість розмістити ваш бізнес та інвестиції у центрі Хмельницького в ексклюзивному торговому центрі «Гранд Палас» ! Наша пропозиція не має аналогів у місті та виходить за рамки звичайних пропозицій торгівельних приміщень, пропонуючи місце у професійному торговому центрі, де поряд буде продуктовий супермаркет, кафе, ресторан, зони відпочинку та розваг для дітей та дорослих. Це ідеальний шанс для підприємців, які забезпечать вашому бізнесу, видатне розташування, престиж та високий трафік клієнтів, а вашим інвестиціям довгострокові прибутки. Не пропустіть свій шанс зайняти своє місце в центрі комерційного життя міста!”
          a.short-description__btn.btn(href='commercial.html') Детальніше
        .images-slider__items.col
          span.images-slider__item.slider-item-1
          span.images-slider__item.slider-item-2
          span.images-slider__item.slider-item-3
          span.images-slider__item.slider-item-4
          span.images-slider__item.slider-item-5.active
