doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0")
        link(rel="stylesheet" href="css/styles.css")
        title Grand Palace - 404 page not found
    body(tabindex="0")
        include components/mixins
        include components/header
        main.main.wrapper404
            h1.h1 404 - Сторінка не знайдена 
    include components/footer
