doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0")
    link(rel="stylesheet" href="css/styles.css")
    title Grand Palace - старт продажу нової черги
    meta(name="description" content="Новини Grand Palace, сторінка де ви зможете дізнатись найновішу інформацію про наш ТРЦ та компанію.")
    meta(name="keywords" content="Новини Grand Palace, актуальна інформація по Гранд Палац, список новин та подій Grand Palace")
    meta(name="author" content="Grand Palace")
    meta(name="publisher" content="Grand Palace")
    meta(name="robots" content="index follow")  
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&family=Roboto:wght@400;500&display=swap' rel='stylesheet')
    link(rel='icon' href='img/favicon.ico')
    link(rel='canonical' href='https://www.grandpalace.km.ua/one-news.html')
    meta(property="og:title" content="Grand Palace - старт продажу нової черги")
    meta(property="og:description" content="Новини Grand Palace, сторінка де ви зможете дізнатись найновішу інформацію про наш ТРЦ та компанію.")
    meta(property="og:image" content="img/logo.jpg")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.grandpalace.km.ua/one-news.html")

  body(tabindex="0")
    .body-wrapper
      include components/vars
      include components/mixins
      include components/header

      main.main.container
        .news-card 
            .news-gallery 
                img.general-img(src="img/news-photo1.jpg", alt="новини Grand Palace")
                .gallery-sm-photoes
                    .photo-slider 
                        img(src="img/bg-fitness.jpg", alt="Останні події в ЖК Гранд Палац")
                    .photo-slider 
                        img(src="img/galery4.jpg", alt="Актуальні відомості від Grand Palace")
            .news-description
                h1 Старт продажу нових черг у grand palace розпочато!
                hr
                h2 Старт продажу нових черг Grand Palace розпочато!
                p Поспішіть  придбати квартиру у ЖК бізнес-класу в центрі Хмельницького. Закритий двір, панорама на місто, підземний паркінг, офісні приміщення, хімчистка, парковка, дитячий майданчик.

                p Ми відкрили продажі на квартири другої черги!
                .table-news 
                    .tr-news 
                        p.td Загальна кількість квартир -&nbsp;
                        p 354
                    .tr-news 
                        p.td Терміни здачі -&nbsp; 
                        p II квартал 2025 року та II квартал 2026 року.
                hr
                .table-news.table-td-styled.tr-news-fix
                    .tr-news
                        p.td Завітайте у відділ продажу 
                        p.news-location
                            +svg('pin-footer', 100, 10)
                            | м. Хмельницький вул. Свободи, 14
                    .tr-news
                        p.td Або телефонуйте
                        p 
                            a.phone-link(href='tel:+380980555500' itemprop='telephone')
                                +svg('phone', 19, 29)
                                |(098)&nbsp;055 55 00
                a.short-description__btn.btn(href="news.html") усі новини

    script(src="js/scripts.js")
    include components/footer

