.parent-block-carousel
    padding: 30px 0
    position: relative
    width: 100%
    overflow: hidden
    +media(425)
        padding: 30px 0 0

.comment-block
    transition: all 2s ease
    width: 100%
    padding: 300px 0 50px
    font-family: "Roboto"
    +media(768)
        padding: 250px 0 50px

.carousel
    position: relative

.comment-block,
.img-block_comment,
.header-comment,
.button-block
    display: flex
    justify-content: space-between
    column-gap: 60px
    row-gap: 20px
    flex-wrap: wrap
    +media(1024)
        flex-wrap: nowrap
        column-gap: 30px
        row-gap: 60px

.img-block_comment
    justify-content: center
    row-gap: 10px
    +media(425)
        justify-content: flex-start
        padding-bottom: 15px

.carousel-item
    position: relative
    top: 0

.comment
    position: absolute
    width: 100%
    padding: 25px 
    background-color: #faf7f3
    border: 1px solid #333
    +media(1024)
        width: 47%


.img-circle
    width: 76px
    height: 76px
    background-color: #fff
    border-radius: 50%
    overflow: hidden

.name-block
    h3
        font-size: 18px
        line-height: 2em
        text-transform: uppercase
        color: #333
        font-weight: 500

.date-comment
    font-size: 14px
    line-height: 2.2em
    text-transform: uppercase
    color: #333333
    font-weight: 500
    font-style: italic

.text-comment
    font-size: 14px
    color: #333333
    font-weight: 400

.btn-more,
.btn-more-cancel
    color: #9c1a1a

.button-block
    justify-content: center
    
.btn-comment
    width: 60px
    height: 40px
    background-color: #9c1a1a

.star-comment
    display: flex
    flex-direction: row
    column-gap: 5px
    justify-content: center
    +media(768)
        justify-content: flex-start

.fill-star
    path
        fill: #eac83e

.text-comment-block
    max-height: 100px
    overflow: hidden
    transition: max-height 2s ease

.visible 
    height: 100%
    max-height: 1000px
    transition: max-height 2s ease

.btn-more-cancel
    display: none