#galleryVideos
    display: none
.container-galery
    padding-top: 80px
    width: 100% !important

.galety-header
    text-align: center

.button-block
    display: flex
    margin-bottom: 50px
    button
        border: none

.galery-description__btn
    padding: 10px 30px

.construction-progress-page
    margin-bottom: 230px

.construction-progress_galery
    display: grid
    grid-template-columns: repeat(1, minmax(0, 1fr))
    +media(640)
        grid-template-columns: repeat(2, minmax(0, 1fr))
    +media(1024)
        grid-template-columns: repeat(3, minmax(0, 1fr))
    +media(1280)
        grid-template-columns: repeat(4, minmax(0, 1fr))
    gap: 2rem
    img,
    iframe
        width: 100%
        height: 100%
        object-position: top
        object-fit: cover
        // object-fit: contain

.construction-progress_img-galery
    max-height: 300px

.construction-video-galery
    position: relative
    padding-top: 56.25%
    iframe
        position: absolute
        left: 0
        top: 0
.construction-progress_no-galery
    grid-column: span 4 / span 4
    justify-self: center


