.container-galery 
    padding-top: 80px

.galety-header
    text-align: center

.button-block
    display: flex
    margin-bottom: 50px
    button
        border: none

.galery-description__btn
    padding: 10px 30px

.construction-progress-page
    margin-bottom: 100px