.popap-block
  position: relative
  font-size: 14px
  color: #3c3839
  font-weight: 400
  font-family: "Roboto"
  +media(1024)
    font-size: 18px
  input,
  textarea
    width: 100%
    height: 100%
    padding: 11px
    outline: none
    border: 1px solid #333333
    box-sizing: border-box
  textarea
    font-size: 18px
    color: #3c3839
    font-weight: 400
    font-family: "Roboto"
    resize: none
  button
    position: relative
    top: 0
    left: 50%
    padding: 10px 50px
    color: #ffffff
    text-align: center
    text-transform: uppercase
    background-color: #9c1a1a
    transform: translateX(-50%)
    border: none
    cursor: pointer
    +media(1024)
      padding: 15px 50px

.opacity-bg
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background-color: #000
  opacity: 0.6
  z-index: 11

.popap-header-line
  display: flex
  justify-content: center
  align-items: center
  +media(1024)
    margin-bottom: 15px

.popap-input_block
  flex-wrap: wrap
  +media(768)
    flex-wrap: nowrap

.flex-popap
  display: flex
  justify-content: space-between
  // column-gap: 20px
.input-popap_name
  +media(768)
    margin-right: 20px
.label-flex
  flex-direction: column

.input-popap
  width: 100%
  margin-bottom: 10px
  +media(1440)
    width: 300px
    margin-bottom: 20px

.question
  min-height: 80px
  max-height: 100px
  +media(1024)
    min-height: 120px
    max-height: 150px

.question,
.input-popap
  label
    padding-bottom: 5px

.popap-more-info
  position: fixed
  width: 90%
  height: 90%
  top: 50%
  left: 50%
  padding: 30px 20px
  transform: translate(-50%, -50%)
  background-color: #f3ece2
  z-index: 12
  display: none
  +media(1024)
    width: 55vw
    height: 43vw
    padding: 50px 40px

.scroll-style
  &::-webkit-scrollbar
    width: 5px
    height: 8px
    background: transparent
  &::-webkit-scrollbar-thumb 
    background-color:  rgba(#f3ece2, 0.8)

.center-row-hero
  align-items: center

.cancel-popap
  position: absolute
  top: 20px
  right: 20px
  cursor: pointer
  svg
    transition: all .5s ease
    &:hover
      transform: scale(1.1)

.radio-btn
  font-size: 12px
  padding-top: 10px
  margin-bottom: 16px
  +media(1024)
    font-size: 18px
  +media(1440)
    padding-top: 30px
    margin-bottom: 26px
  p
    margin-bottom: 8px
  input
    display: none
  input + label
    position: relative
    padding-left: 26px
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 16px
      height: 16px
      background-color: #fff
      border: 1px solid #333
  input
    &:checked + label
      &::before
        background-color: #9c1a1a
.hero
  position: relative
  margin-bottom: 50px
  height: 95vh
  background: $bg center bottom/cover no-repeat
  overflow: hidden
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(13, 27, 41, .55)
    filter: blur(2px)
    z-index: 1
    +media(1024)
      width: 50%
      backdrop-filter: blur(0.5px)

  .slider-images
    position: absolute
    top: 0
    display: flex
    width: 100%
    height: 100%
    img
      transition: all .5s ease
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
      opacity: 0
    .slider-img
      opacity: 1
    img.active
      opacity: 1

  .left-side
    position: relative
    flex: 1 0 50%
    max-width: 100%
    padding-top: 25vh
    padding-bottom: 25vh
    color: $fontColorSecond
    text-align: center
    +media(640)
      text-align: left
      max-width: 75%
    +media(1024)
      flex: 0 0 50%
      max-width: 50%
    // +media(1420)
    //   padding-top: 110px
    //   padding-bottom: 180px
    // +media(1860)
    //   padding-top: 150px
    //   padding-bottom: 215px

  .tagline
    position: relative
    z-index: 2
    margin-bottom: 15px
    font: 500 $fTextSecond 'Roboto Slab', Arial, sans-serif
    text-transform: uppercase
    +media(425)
      font-size: 3rem
    +media(768)
      font-size: 4.6rem
    +media(1420)
      font-size: 5.4rem
    +media(1630)
      font-size: $fTitleMain
  .hero__title
    font: 500 1.6rem 'Roboto', Arial, sans-serif
    line-height: 1.5
    +media(1024)
      font-size: 25px
      // font-size: $fTextSecond
    .text
      position: relative
      display: block
      padding-bottom: 46px
      z-index: 2
      +media(768)
        width: 39vw
      +media(1440)
        width: 35vw


.open-popap
  position: relative
  display: inline-block
  padding: 15px 56px
  background-color: #9c1a1a
  z-index: 3
